* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

/* -------------- HEADER START ----------------- */

header {
  height: 7rem;
  padding: 0 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 3.6rem;
}

header > span {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2.8rem;
  font-weight: 600;
}

/* -------------- PROGRESS START ----------------- */
#progress {
  height: 12rem;
  background-color: #f3f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#progress > h2 {
  font-size: 2.6rem;
  font-weight: 400;
}

#progress > h2 > span {
  font-weight: 600;
}

.progress-bar {
  width: 60%;
  height: 3rem;
  background-color: #dddede;
  border-radius: 1rem;
  overflow: hidden;
}

.progress-inner {
  width: 20%;
  background-color: #44c590;
  height: 100%;
  position: relative;
}

.progress-percent {
  color: #fff;
  position: absolute;
  font-size: 1.4rem;
  font-weight: 600;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

/* ---------------------- QUESTION START ----------------------- */
#questions {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 12rem;
  border-bottom: 1px solid #dddede;
}

.wrapper {
  width: 70%;
  text-align: center;
  padding: 5rem 0;
}

.ques {
  font-size: 4rem;
}

.options {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.option {
  padding: 1.5rem 2rem;
  background-color: #2f9ee9;
  border-bottom: 3px solid #257eba;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.option:hover {
  background-color: #0d5e94;
}

/* --------------------- BRANDS START ----------------- */
#brands {
  min-height: 15rem;
  text-align: center;
  margin: 3rem 0;
}

#brands > h3 {
  font-size: 2rem;
}

#brands > div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#brands > div > img {
  height: 10rem;
}

nav > a {
  /* display: inline-block; */
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

p:last-child {
  width: 70%;
  margin: 0 auto;
  font-size: 1.2rem;
}

/* -------------- MOBILE RESPONSIVE ------------- */

@media ((min-width: 200px) and (max-width: 660px)) {
  header {
    justify-content: center;
  }

  header > span {
    display: none;
  }

  .wrapper {
    width: 90%;
  }

  p:last-child {
    width: 90%;
  }

  #progress > h2 {
    text-align: center;
    font-size: 2rem;
  }

  .progress-bar {
    height: 2.4rem;
    width: 85%;
  }

  .progress-percent {
    font-size: 1rem;
  }

  .option {
    padding: 1rem 1rem;
  }

  #brands > div {
    margin-bottom: 2rem;
  }

  #brands > div > img {
    height: 2rem;
  }

  nav > a {
    font-size: 1rem;
  }

  p {
    margin-top: 1rem;
  }
}
